<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/smaple.css">


    <title>Login</title>
</head>

<body>
<form th:action="@{/dash}" method="post" th:object="${login}">
    <div class="container">
        <div class="main">
            <div class="wrapper one">
                <div class="drop-main">
                    <div class="c">L</div>
                    <div class="o">o</div>
                    <div class="n">g</div>
                    <div class="t">i</div>
                    <div class="a">n</div>
                    <div class="c">!</div>
                    <div class="t">!</div>

                </div>
            </div>
            <div>
                <input type="text" name="e" placeholder="Enter your email" id="email">
                <input type="password" name="p" placeholder="password" id="password">
                <label  id="create">create account, <span style="color: red;">Register</span></label>
                <input type="submit" value="Login" >
            </div>
        </div>
    </div>
</form>
</body>

</html>