<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>register</title>
</head>

<body>
<form th:action="@{/dashboard}" method="post">
  <div>
    <input type="text" name="name" placeholder="Enter your first name" id="name">
    <input type="text" name="email" placeholder="Enter your email" id="email">
    <input type="password" name="password" placeholder="Enter your password" id="password">
    <input type="text" name="description" placeholder="Enter your description" id="descpition">
    <label  id="create">alredy you have a account,</label>
    <input type="submit" value="Register" id="submit">
  </div>

</form>
</body>

</html>